.section {
  border: 1px #e0e0e0 solid;
  margin: 30px auto;
  width: 400px;
  padding: 12px;
}
.section-inner {
  border: 1px #e0e0e0 solid;
}

.head {
  border-bottom: 1px #e0e0e0 dashed;
}

.head-title {
  padding: 12px;
  display: block;
  text-align: center;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #5b6aa7;
  font-weight: 600;
  border-bottom: 1px #e0e0e0 dashed;
}

.head-content {
  padding: 12px;
}

.head-content-title {
  font-size: 14px;
  line-height: 18px;
  color: #5b6aa7;
  margin-bottom: 4px;
}

.empty {
  text-align: center;
  margin: 30px;
}

.list-wrap {
  padding: 12px 18px;

}

.item-wrap {
  border: 1px #e0e0e0 solid;
  padding: 10px;
}

.item-image {
  font-size: 26px;
  margin-right: 10px;
}

.item-title {
  font-size: 16px;
  line-height: 18px;
  color: #5b6aa7;
  margin-bottom: 4px;
  font-weight: 600;
}
.item-hide-btn {
  background-color: #6495ed;
  padding: 8px 16px;
  border-radius: 6px;
  color: #FFF;
  border: none;
  cursor: pointer;
}
.item-hide-btn:hover {
  background-color: #96b6ef;
}

.add-item-btn {
  display: block;
  margin: 18px auto ;
  padding: 12px 36px;
  border-radius: 6px;
  color: #FFF;
  border: none;
  cursor: pointer;
  background-color: green;
}
.add-item-btn:hover {
  background-color: #6aab6a;
}

.add-item-btn.disabled {
  background-color: #a8c1a8;
}

.row-space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}